.defaultStyle{
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    z-index: 0;
    box-sizing:'border-box'
    */
    width: 100%;
    display: flex;
    justify-content: center;
}

.blurStyle{
    /*
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    
    z-index: 0;
    box-sizing: border-box;
    */
    width: 100%;
    display: flex;
    justify-content: center;
    filter: blur(20px) brightness(0.5);
}