.defaultStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    z-index: 0;
}

.blurStyle{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    filter: blur(20px);
    z-index: 0;
}