.buttonContainer{
    display: flex;
    justify-content: center;
    flex:0.5;
    min-width: 0;
    font-size: 18px;
}


.icon{
    height:19px;
}

.buttonTxt{
    font-size: 18px;
    line-height: 0;
}

