.mainText{
    font-weight: bolder;
    color: aqua;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
    text-align: center;
}

.detailText{
    color: aqua;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
    margin-top: 100px;
    font-size: 21px;
}