.statsParent{
    display: flex;
    flex: 1;
}

.statsContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;;
    border-radius: 5px;
    flex-grow: 1;
}   

.headerText{
    font-weight: 500;
    font-size: 3em;
}

.statsText{
    font-weight: 400;
    font-size: 1.5em;
    margin: 15px 0px
}